In [51]:
%cd 'Desktop/Projects/energy-consumption-forecaster'

[Errno 2] No such file or directory: 'Desktop/Projects/energy-consumption-forecaster'
/Users/alexsiebelmckenna/Desktop/Projects/energy-consumption-forecaster

In [52]:
from datetime import datetime
from os import listdir

import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import pyarrow

In [53]:
dates = listdir('data/')[0:2] # work on a subset because loading it all takes aaages
raw = pd.DataFrame(columns = ['active_power', 'reactive_power', 'timestamp'])

for date in dates:
    print(date)
    temp = pd.read_parquet('data/'+date+'/00_total.parquet.gzip')
    temp['timestamp'] = temp['timestamp'].apply(lambda x: datetime.fromtimestamp(x/1000.))
    raw = pd.concat([temp, raw])

raw.head()
print(raw.shape)

20170321
20170326
(2578500, 3)

In [54]:
raw.columns = [['active_power', 'reactive_power', 'datetime']]

In [55]:
raw['date'] = raw['datetime'].apply(lambda x: x.dt.date)
raw['time'] = raw['datetime'].apply(lambda x: x.dt.time)
raw['hour'] = raw['datetime'].apply(lambda x: x.dt.hour)
raw['minute'] = raw['datetime'].apply(lambda x: x.dt.minute)
raw['second'] = raw['datetime'].apply(lambda x: x.dt.second)

In [56]:
# Downsampling
raw['datetime'][1:20]

                       datetime
1287391 2017-03-25 17:00:00.646
1287392 2017-03-25 17:00:00.713
1287393 2017-03-25 17:00:00.780
1287394 2017-03-25 17:00:00.846
1287395 2017-03-25 17:00:00.913
1287396 2017-03-25 17:00:00.980
1287397 2017-03-25 17:00:01.046
1287398 2017-03-25 17:00:01.113
1287399 2017-03-25 17:00:01.180
1287400 2017-03-25 17:00:01.246
1287401 2017-03-25 17:00:01.313
1287402 2017-03-25 17:00:01.380
1287403 2017-03-25 17:00:01.446
1287404 2017-03-25 17:00:01.513
0       2017-03-25 17:00:05.570
1       2017-03-25 17:00:05.636
2       2017-03-25 17:00:05.703
3       2017-03-25 17:00:05.770
4       2017-03-25 17:00:05.836