In [1]:
#%cd 'Desktop/Projects/energy-consumption-forecaster'

In [2]:
from datetime import datetime
from os import listdir

import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
import pyarrow
import seaborn
import sys
import time

sys.path.append('../tools/')
from utils import *

In [3]:
total = pd.read_parquet('../data/enertalk-dataset/00/20161101/00_total.parquet.gzip')
wash = pd.read_parquet('../data/enertalk-dataset/00/20161101/02_washing-machine.parquet.gzip')

#total['datetime'] = total['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000.))
#wash['datetime'] = wash['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000.))

wash.head()

   active_power  reactive_power     timestamp
0          0.12            6.12  1.477959e+12
1          0.00            5.96  1.477959e+12
2          0.05            6.06  1.477959e+12
3          0.05            5.98  1.477959e+12
4          0.02            6.05  1.477959e+12

In [4]:
def load_data():
    dates = listdir('../data/enertalk-dataset/00')
    start = time.time()
    
    for date in dates:
        
        if date != ".DS_Store":
            print(f"Reading file {date} | File {dates.index(date)+1}/{len(dates)}")
            total = pd.read_parquet('../data/enertalk-dataset/00/'+date+'/00_total.parquet.gzip')
            if dates.index(date) == 0:
                raw = pd.DataFrame(columns=total.columns)
            else:
                raw = pd.concat([total, raw])
    end = time.time()
    print(f"Total time elapsed {end-start} seconds, or {(end-start)/60} minutes.")
    return raw

In [5]:
raw = load_data()

Reading file 20170113 | File 1/87
Reading file 20170114 | File 2/87
Reading file 20170122 | File 3/87
Reading file 20170125 | File 4/87
Reading file 20161209 | File 5/87
Reading file 20161207 | File 6/87
Reading file 20170124 | File 7/87
Reading file 20170123 | File 8/87
Reading file 20170115 | File 9/87
Reading file 20170112 | File 10/87
Reading file 20161206 | File 11/87
Reading file 20161201 | File 12/87
Reading file 20161208 | File 13/87
Reading file 20161230 | File 14/87
Reading file 20161112 | File 15/87
Reading file 20161115 | File 16/87
Reading file 20161123 | File 17/87
Reading file 20161125 | File 18/87
Reading file 20161122 | File 19/87
Reading file 20161114 | File 20/87
Reading file 20161113 | File 21/87
Reading file 20161109 | File 22/87
Reading file 20161107 | File 23/87
Reading file 20161106 | File 24/87
Reading file 20161101 | File 25/87
Reading file 20161130 | File 26/87
Reading file 20161212 | File 27/87
Reading file 20161215 | File 28/87
Reading file 20161223 | File 29/87
Reading file 20161224 | File 30/87
Reading file 20170130 | File 31/87
Reading file 20170108 | File 32/87
Reading file 20170101 | File 33/87
Reading file 20170106 | File 34/87
Reading file 20161225 | File 35/87
Reading file 20161222 | File 36/87
Reading file 20161214 | File 37/87
Reading file 20161213 | File 38/87
Reading file 20170107 | File 39/87
Reading file 20170109 | File 40/87
Reading file 20170131 | File 41/87
Reading file 20161204 | File 42/87
Reading file 20161203 | File 43/87
Reading file 20170117 | File 44/87
Reading file 20170128 | File 45/87
Reading file 20170110 | File 46/87
Reading file 20170126 | File 47/87
Reading file 20170119 | File 48/87
Reading file 20170121 | File 49/87
Reading file 20161202 | File 50/87
Reading file 20161205 | File 51/87
Reading file 20170120 | File 52/87
Reading file 20170127 | File 53/87
Reading file 20170118 | File 54/87
Reading file 20170111 | File 55/87
Reading file 20170116 | File 56/87
Reading file 20170129 | File 57/87
Reading file 20161129 | File 58/87
Reading file 20161116 | File 59/87
Reading file 20161111 | File 60/87
Reading file 20161118 | File 61/87
Reading file 20161121 | File 62/87
Reading file 20161119 | File 63/87
Reading file 20161126 | File 64/87
Reading file 20161110 | File 65/87
Reading file 20161128 | File 66/87
Reading file 20161117 | File 67/87
Reading file 20161104 | File 68/87
Reading file 20161103 | File 69/87
Reading file 20161102 | File 70/87
Reading file 20161105 | File 71/87
Reading file 20170105 | File 72/87
Reading file 20170102 | File 73/87
Reading file 20161216 | File 74/87
Reading file 20161229 | File 75/87
Reading file 20161211 | File 76/87
Reading file 20161227 | File 77/87
Reading file 20161218 | File 78/87
Reading file 20161220 | File 79/87
Reading file 20170103 | File 80/87
Reading file 20170104 | File 81/87
Reading file 20161221 | File 82/87
Reading file 20161226 | File 83/87
Reading file 20161219 | File 84/87
Reading file 20161210 | File 85/87
Reading file 20161217 | File 86/87
Reading file 20161228 | File 87/87
Total time elapsed 62.055408000946045 seconds, or 1.0342568000157675 minutes.

In [6]:
raw.shape

(109399395, 3)

In [7]:
def clean_data(
    df,
    app=False,
    resample='15S'
):
    start = time.time()
    df['timestamp'] = df['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000.))
    df['timestamp'] = df['timestamp'].apply(lambda x: x.replace(microsecond=0)).dt.floor(resample)
    df = df.groupby('timestamp').mean()
    df = df.reset_index()
    if app == True:
        df['on'] = (df['active_power'] > 15).astype(int)
    end = time.time()
    time_elapsed = end - start
    print(f"Time elapsed: {str(datetime.timedelta(seconds=time_elapsed))}")
    return df

In [8]:
raw = clean_data(raw)

Time elapsed: 0:17:13.516626

In [12]:
raw.to_csv(
    "../data/intermediate/cleaned.csv",
    index=False
)

In [13]:
pd.read_csv("../data/intermediate/cleaned.csv")

                  timestamp  active_power  reactive_power
0       2016-10-31 17:00:00    189.952650      -61.204872
1       2016-10-31 17:00:15    157.639905      -79.938286
2       2016-10-31 17:00:30    155.861315      -79.832582
3       2016-10-31 17:00:45    163.025980      -79.870882
4       2016-10-31 17:01:00    162.825952      -79.833690
...                     ...           ...             ...
494656  2017-01-31 15:58:45    549.240711     -143.336447
494657  2017-01-31 15:59:00    556.102386     -144.161818
494658  2017-01-31 15:59:15    562.742972     -144.952028
494659  2017-01-31 15:59:30    561.509886     -145.039091
494660  2017-01-31 15:59:45    478.018905     -202.692238

[494661 rows x 3 columns]